/* Jumbotron Image */
.jumbotron{
    background-size: cover;
    background-position: center center;
    height: 100vh;
    diplay: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* custom color*/
.custom-color {
    color: #012340;
}
